* {
    margin: 0;
    padding: 0;
}

html {
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: block
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}

.heading h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 3.125rem;
    color: white;
}

.sub_heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.sub_heading a {
    color: aquamarine;
    font-size: 1rem;
    text-decoration: none;
    text-decoration: underline;
}